<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Navis MovieNight</title>
    <style>
    html, body {
      margin: 0;
    }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700,900&display=swap">
  </head>

  <body>
    <div id="app"></div>
    <script id="versionURL" src="http://localhost:3016/dist/dev/app.bundle.js"></script>
  </body>
</html>
